@charset "ISO-8859-1";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.events {
	width: 400px;
	clip-path:circle ();
}